@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: rgb(7, 7, 7);
}
.home-inner {
    background-image: url(../images/assets/backgrounds/h_img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 30%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}
.caption h1 {
    font-size: 3.7rem;
    font-weight: 630;
    padding-bottom: 1rem;
    padding-top: 2.4rem;
}