@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: rgb(7, 7, 7);
}
.home-inner {
    background-image: url(../images/assets/backgrounds/h_img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 30%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}
.caption h1 {
    font-size: 3.7rem;
    font-weight: 550;
    padding-bottom: 1rem;
    padding-top: 2.5rem;
}
.mouse {
    position: absolute;
    top: 94%;
    left: 50%;    
}
.caption p {
    font-weight: 650;
}
.about_us {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services {
    background-image: url(../images/assets/backgrounds/s_image.jpg);
    height: 58vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first {
    width: 69%;
}
#which {
    background-color: #FFFFFF;
}
#which h2 {
    padding-bottom: 2.5rem;
}
.feature .para {
    display: none;
    position: absolute;
    /* z-index: 1; */
    width: 90%;
    top: 8%;
}
.feature .para h6 {
    font-weight: bold;
}
#what {
    height: 40%;
}
.img img {
    max-width: 100%;
    width: 16%;
    padding: 10px;
}
.img {
    margin-bottom: 30px;
    
}
#portfolio {
    margin-top: -5%;
}
.contact {
    background-image: url(../images/assets/backgrounds/c_image.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#contact .contact {
    padding: 30px;
    color: white;
}
.input {
    position: relative;
    margin: 0 auto;
    padding: 20px 22px;
}
.input input, .input textarea {
    background-color: rgba(0,0,0,.2);
    color: white;
}
.social a {
    font-size: 2.5em;
    padding: 1.6rem;
}
.fa-twitter {
    color: #00acee;
}
.fa-dribbble {
    color: #ea4c89;
}
.fa-facebook {
    color: #3b5998;
}
.fa-google-plus-g {
    color: #dd4b39;
}
.fa-skype {
    color: #00AFF0;
}
.fa-stumbleupon-circle {
    color: #f74425;
}
.fa-behance {
    color: #053eff;
}
.fa-pinterest {
    color: #c8232c;
}
.fa-flickr {
    color: #ff0084;
}
.fa-youtube {
    color: #c4302b;
}
footer {
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
footer p {
    letter-spacing: 5px;
    line-height: 1px;
    margin-top: 20px;
}